<div id="contact" class="bg-Blue-800 pt-20 relative">
	<div class="h-[600px] overflow-hidden">
		<img class="opacity-10 object-cover" src="{{ asset('images/sparkz_logo_white.svg') }}" alt="">
	</div>
	<form class="absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] flex flex-col gap-4 items-center" action="/submit" method="post">
		<h1 class="text-5xl text-white font-extrabold pb-6">Kontakta
			<span class="text-Blue-200">oss</span>
		</h1>
		<input class="bg-transparent p-4 pl-8 rounded-full w-[600px] text-xl border-2 border-white text-white focus-visible:outline-none focus-visible:shadow-input" type="text" name="name" id="name" placeholder="Namn">
		<input class="bg-transparent p-4 pl-8 rounded-full w-[600px] text-xl border-2 border-white text-white focus-visible:outline-none focus-visible:shadow-input" type="text" name="email" id="email" placeholder="E-post">
		<input class="bg-transparent p-4 pl-8 rounded-full w-[600px] text-xl border-2 border-white text-white focus-visible:outline-none focus-visible:shadow-input" type="text" name="phone" id="phone" placeholder="Telefon">
		<button class="relative text-lg flex items-center gap-4 rounded-full mt-6 bg-Blue-200 w-fit m-auto p-4 pl-7 pr-7 font-semibold hover:bg-white transition-all duration-300">Skicka formulär</button>
	</form>

</div>
