<div class="h-36 w-full bg-black flex items-center justify-center">
	<div class="w-[85%] flex justify-between">
		<img class="h-10" style="filter: grayscale(100%) brightness(10)" src="{{ asset('images/sparkz_logo.svg') }}" alt="">
		<div class="text-white flex items-center font-semibold gap-2">
			<i class="fa-solid fa-envelope"></i>
			<a class="hover:text-white border-b-[3px]  border-Blue-200 flex justify-center items-center gap-3" href="mailto: info@sparkz.se">
				info@sparkz.se</a>
			<i class="fa-solid fa-phone pl-8"></i>
			<a class="hover:text-white border-b-[3px] border-Blue-200 flex justify-center items-center gap-3" href="tel:0708358158">
				070 835 81 58</a>
		</div>
	</div>
</div>
