<div class="h-60 bg-black flex items-center justify-center">
	<div class="w-[85%] flex justify-between">
		<img class="h-10" style="filter: grayscale(100%) brightness(10)" src="{{ asset('images/sparkz_logo.svg') }}" alt="">
		<div class="text-white underline flex gap-8">
			<a class="hover:text-white" href="mailto: info@sparkz.se">info@sparkz.se</a>
			<a href="tel:0708358158">070 835 81 58</a>
		</div>
	</div>
</div>
