<a data-action="click->scrollevents#scrollevent" href="/"><img class="w-28" src="{{ asset('images/sparkz_logo.svg') }}" alt="To start"></a>
<div class="flex gap-8 text-white">
	<button data-action="click->scrollevents#scrollevent" href="/#about">Om oss</button>
	<button data-action="click->scrollevents#scrollevent" href="/#contact">Kontakt</button>
</div>
