<a href="/"><img class="w-28" src="{{ asset('images/sparkz_logo.svg') }}" alt="To start"></a>
<div class="flex gap-8 text-white">
	<a href="/#about">Om oss</a>
	<a href="/#contact">Kontakt</a>
</div>
