<h1 class="pt-48 max-w-3xl m-auto text-7xl text-white font-extrabold text-center tracking-tighter">Ett
	<span class="text-Blue-200">bokningssystem</span>
	som gör det lätt att må bra</h1>
<p class="m-auto text-Blue-100 font-semibold text-xl">Detta är en relativt kort ingress som just nu saknar ett syfte.</p>
<button data-controller="scrollevents" data-action="click->scrollevents#scrollevent" class="text-lg rounded-full bg-Blue-200 w-fit m-auto p-4 pl-7 pr-7 font-semibold hover:bg-white transition-all duration-300" href="/#contact">Boka möte</button>

<img src="{{ asset('images/sparkz_calender.png') }}" alt="Sparkz kalender på mobil och på dator" class="max-w-[80%] m-auto pb-8"/>
<div class="max-w-screen h-28 bg-gradient-to-tl from-Blue-700 from-[49%] via-transparent via-50% to-transparent to-50%"></div>
